<head>
  <style>
    .search-bar .search-bar-outer {
      max-width: 680px;
      width: 75%;
      background-color: #fce2cf;
      border-radius: 8px;
      padding: 20px 30px;
      border: 0;
      margin-top: -60px;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    }

    .search-bar .search-bar-inner h4 {
      color: #9b4b4b;
    }

    .form-control::placeholder {
      color: #aaaaaa;
      font-size: 0.8rem;
    }

    .btn-major {
      background-color: #9b4b4b;
      color: white;
    }

    .form-control:focus {
      box-shadow: none;
      border-color: #ced4da;
    }

    .card {
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    }

    .card img {
      height: 180px;
    }

    .card-title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .restaurant-category {
      color: #666666;
      font-size: 0.8rem;
    }

    .restaurant-show-title {
      position: relative;
      top: -100px;
      color: white;
      text-align: center;
      font-size: 3rem;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .btn-success {
      margin: 10px;
    }

    .btn-secondary {
      padding: 5px;
      margin: 0 3px;
    }

    .fa-trash-alt {
      margin: 2px;
      cursor: pointer;
    }

    .fa-trash-alt:hover {
      color: red;
    }

    .icon-panel {
      align-items: center;
    }

    img:hover {
      opacity: 0.6;
    }

    .btn-delete {
      background-color: white;
      border: none;
    }

    .fa-edit {
      color: black;
      margin-left: 5px;
    }

    .fa-edit:hover {
      color: rgb(123, 123, 240);
    }

    @media screen and (max-width: 992px) {

      .card img {
        height: 115px;
      }
    }

    @media screen and (max-width: 768px) {

      .restaurant-show-title {
        font-size: 2rem;
      }
    }

    @media screen and (max-width: 575px) {

      .card img {
        height: auto;
      }

    }
  </style>
</head>

<body>

  <!-- search bar -->
  <div class="container search-bar d-flex justify-content-center">
    <div class="search-bar-outer">
      <div class="search-bar-inner">
        <form action="/search">
          <h4 class="mb-2">尋找餐廳：</h4>
          <div class="input-group">
            <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
              value="{{keyword}}" aria-describedby="search-button">
            <div class="input-group-append">
              <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <form action="/sort">
      <select onchange="this.form.submit()" class="form-control" name="type">
        <option value="default" selected disabled>排序</option>
        <option value="name_en" {{#IsSortBy type 'name_en' }}selected {{/IsSortBy}}>名稱 A>Z</option>
        <option value="-name_en" {{#IsSortBy type '-name_en' }}selected {{/IsSortBy}}>名稱 Z>A</option>
        <option value="location" {{#IsSortBy type 'location' }}selected {{/IsSortBy}}>地區</option>
        <option value="category" {{#IsSortBy type 'category' }}selected{{/IsSortBy}}>類型</option>
      </select>
    </form>

  </div>

  <!-- restaurant list -->
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="card-columns">
          {{#each restaurants }}
          <a href="/restaurants/{{this._id}}" class="text-secondary">
            <div class="card mb-3">
              <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
              <div class="card-body p-3">
                <h6 class="card-title mb-1">{{this.name}}</h6>

                <div class="restaurant-category mb-1">
                  <i class="fas fa-utensils pr-2"></i> {{this.category}}
                </div>
                <div class="icon-panel d-flex">
                  <span class="badge badge-pill badge-danger font-weight-normal">
                    {{this.rating}}
                    <i class="fas fa-star fa-xs"></i>
                  </span>
                  <a href="/restaurants/{{this._id}}/update"><i class="far fa-edit fa-2x"></i></a>
                  <form action="/restaurants/{{this._id}}?_method=DELETE" method="POST">
                    <button class="btn-delete" type="submit"><i class="fas fa-trash-alt fa-2x"></i></button>
                  </form>
                </div>
              </div>
            </div>
          </a>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</body>